<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Wirelab</string>
	<key>Builder Version</key>
	<string>9537.75.12</string>
	<key>CFBundleDisplayName</key>
	<string>Like Doubler</string>
	<key>CFBundleIdentifier</key>
	<string>nl.wirelab.likedoubler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>main.min.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://facebook.com/*</string>
			<string>https://facebook.com/*</string>
			<string>http://www.facebook.com/*</string>
			<string>https://www.facebook.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Instantly double your likes on Facebook!</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>facebook.com</string>
				<string>www.facebook.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.wirelab.nl</string>
</dict>
</plist>
